FerreteriaNetCore/FerreteriaNetCore/.suo
FerreteriaNetCore/.vs
FerreteriaNetCore/FerreteriaNetCore/obj
FerreteriaNetCore/FerreteriaNetCore/bin
Proyecto_G1/.vs/Proyecto_G1/v16/.suo
Proyecto_G1/.vs/Proyecto_G1/v16/.suo
