<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stock Ferretería</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productEdit.css">
    <link rel="shortcut icon" href="/icon/logo.icon">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/messages.js"></script>

    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/grilla.js"></script>

    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>

    <script src="~/js/common.js"></script>
    <script src="~/js/ajax.js"></script>

    <script src="~/js/combo.js"></script>   
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Search">Stock  Ferreteria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="New">Load product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <!--MODAL-->
    <div class="modal" id="small_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="contenedor_modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-2">
                            <svg class="c-icon" id="icono_modal">

                            </svg>
                        </div>
                        <h5 class="modal-title" id="titulo_modal">Modal title</h5>
                        <button type="button" class="close" aria-label="Close" id="cruz_cerrar" data-dismiss="modal" onclick="cerrarModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="texto_modal">
                        <span>...</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_cerrar">Cerrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
   var urlContent = '@Url.Content("~/")';
</script>

</html>
