@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
 

<div class="wrapper">
    <form class="login">
        <p class="title">Log in</p>
        <input type="text" placeholder="Username" autofocus />
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="@Url.Content("~/Home/PasswordRecovery")">Forgot your password?</a>
        <button>
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
    <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
    
</div>
