@{ ViewData["Title"] = "Login";

    Layout = "_LayoutLogin";

}



<form class="login_box" method="post" action="@Url.Content("~/Home/Login")">
    <img class="logo" src="~/icon/logo.jpg" alt="">
    <h1>Login</h1>

    <div>

        <label for="">Ingrese su nombre</label>
        <input type="text" placeholder="Nombre">

        <label>Contraseña</label>
        <input type="password" placeholder="Contraseña">

        <input type="submit" value="Log in">
    </div>
</form>

<a href="@Url.Content("~/Home/ProductEdit.cshtml")">ABM</a>



