@{ ViewData["Title"] = "Login";

    Layout = "_LayoutLogin";

}



<form class="login_box" method="post" action="@Url.Content("~/Login/Login")">
    <img class="logo" src="~/icon/logo.jpg" alt="">
    <h1>Login</h1>

    <div>
        <label for="">Ingrese su nombre</label>
        <input type="text" placeholder="Nombre" name="Username">

        <label>Contraseña</label>
        <input type="password" placeholder="Contraseña" name="Password">

        <input type="submit" value="Log in">

        <br>
        <center>
            <a href="~/home/PasswordRecovery" style="color: orangered; text-decoration: underline;">Recover password</a>
        </center>

        <br>

        <center>
            <a style="border-radius: 10px; padding: 5px 7px; text-decoration: none; color: black; background-color: moccasin; "
               href="~/home/signup">I'm new</a>
        </center>
    </div>
</form>





