@{
    Layout = "_Layout";
    ViewData["Title"] = "Product search";
}

<div class="row" id="tabla_productos">
    <div class="col">
        <table 
            class="table table-striped table-borderer" 
            id="grilla_productos" 
            style="100%">
            
            <thead>
                <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Stock disponible</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
        var columnas = [{
            //Todo emma: ver los attr de producto como se mapean
            "data": "name",
            "sercheable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "brand",
            "sercheable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "description",
            "sercheable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "category",
            "sercheable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": "quantity",
            "sercheable": true,
            "visible": true,
            "orderable": true,
            defaultContent: ""
        }, {
            "data": function(row, type, set){
                let s = `<div>`;

                s += `<a  id='edit_${row.id}'
                            type='button'
                            class='btn btn-sm btn-secondary mr-1'
                            href='${urlContent}Product/Edit/${row.id}'>
                            Editar
                        </a>`;
                s += `</div>`;
                return s;
            },
            "sercheable": false,
            "visible": true,
            "orderable": false
        }];

        crearGrilla(
            "#grilla_productos", 
            "Product/ListarProductosPaginado", 
            "Producto", 
            columnas, 
            null, 
            true);
    });
</script>